body {
  background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    max-width: 700px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}